.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

environment.yml
matplot.py
requirements.txt

# Environments
genomeEnv/
ldscEnv/
ldsc/

/genomeEnv
/ldscEnv
/ldsc


#Processed Data
RegenieTextData/*.log
RegenieTextData/*.results
RegenieTextData/*.csv
RegenieTextData/*.txt

dbAccess/*.log
dbAccess/*.gz
dbAccess/*.csv
dbAccess/*.txt

LDSC_Stats/*.log
LDSC_Stats/*.results
LDSC_Stats/*.csv
LDSC_Stats/*.txt