.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

environment.yml
matplot.py
requirements.txt

# Environments
genomeEnv/
ldscEnv/
ldsc/

/genomeEnv
/ldscEnv
/ldsc


#Processed Data
RegenieTextData/
dbAccess/
LDSC_Stats/